.hoard-assistant {
	background-color: #E04D1B;
	display: flex;
	flex-direction: column;
	justify-content: row;
}

.hoard-assistant input[type=text] {
	display: block;
	max-width: 30rem;
	margin: 10px auto;
	background: transparent;
	border: 0;
	border-bottom: 1px solid gray;
	color: white;
	font-size: 28px;

	text-align: center;
	transition: border-bottom 1s;
}

.hoard-assistant input[type=button] {
	display: block;
	font-size: 20px;
	padding: 5px 12px;
	margin: 10px auto;
	background: transparent;
	color: white;
	border: 1px solid white;
}

.hoard-assistant input[type=text]:focus {
	border-bottom: 1px solid white;
}